<div class="footer-wrap">
    <div class="col">
        <h2>Information</h2>
        <ul>
            <li><a [routerLink]="['/privacy-policy']" (click)="scrollToTop()">Privacy Policy</a></li>
            <li><a [routerLink]="['/tos']" (click)="scrollToTop()">Terms of Service</a></li>
        </ul>
    </div>
    <div class="col">
        <h2>Social Media</h2>
        <ul>
            <li><a href="https://www.facebook.com/EuhphresiaFlyFF/" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/euphresiaflyff/" target="_blank">Instagram</a></li>
        </ul>
    </div>
    <div class="col">
        <h2>Backlinks</h2>
        <ul>
            <li><a href="https://www.elitepvpers.com/" target="_blank">elitepvpers</a></li>
        </ul>
    </div>
</div>
<div class="copyright">
    Copyright © 2019 Euphresia-Flyff. Trademarks are the property of their respective owners.
</div>