<h1>Reset Password</h1>
<seperator></seperator>
<div *ngIf="!post && !sent" class="content">
    <input [(ngModel)]="requestMail" placeholder="Email">
    <div *ngIf="hasErrors">
        <p *ngFor="let item of errors" class="error">{{item}}</p>
    </div>
    <button (click)="requestReset()">Send Password Reset Mail</button>
</div>
<div *ngIf="!post && sent" class="content">
    <p class="success">The Link to reset your password has been sent to {{this.requestMail}}</p>
</div>
<div *ngIf="post" class="content">
    <input type="password" [(ngModel)]="password" placeholder="Password">
    <input type="password" [(ngModel)]="confirmedPassword" placeholder="Confirm Password">
    <div *ngIf="hasErrors">
        <p *ngFor="let item of errors" class="error">{{item}}</p>
    </div>
    <button (click)="resetPassword()">Submit</button>
</div>

<div *ngIf="post && resetted" class="content">
    <p class="success">Succesfully resetted your password. Redirecting...</p>
</div>