table
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse:separate;
    border-spacing:0 20px;
    font-family: 'Roboto Slab', serif !important;
    color: #fbd7b2 !important;
    text-shadow: 0.1em 0.1em 0.2em black;

    tr
    {
        border: 1px solid  #5a3917;
    }

    td
    {
        padding: 20px;
        border-top: 2px solid  #5a3917;
        border-bottom: 2px solid  #5a3917;

        a
        {
            text-decoration: underline;
            color: #fbd7b2 !important;
            text-shadow: 0.1em 0.1em 0.2em black;
        }
    }

    td.link
    {
        background: #5a3917;
        border-right: 2px solid  #5a3917;
        border-left: 2px solid  #5a3917;
        text-align: right;
        width: 50px;
    }

    td.type
    {
        border-left: 2px solid  #5a3917;
        background: rgba(37, 19, 1, 0.38);
    }
}