<div class="container">
    <div class="wrapper">
        <h1>Unpublished News</h1>

        <mat-paginator [length]="unpublishedNewsPageCount"
        [pageSize]="10"
        [pageSizeOptions]="[10]"
        (page)="changePage($event,false)">
        </mat-paginator>
        <table mat-table [dataSource]="unpublishedNews" class="mat-elevation-z8">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.caption}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.createdOn}} </td>
            </ng-container>
            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef> Tags </th>
                <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
            </ng-container>   
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="open(row)"></tr>
        </table>
    </div>

    <div class="wrapper">
        <h1>Published News</h1>

        <mat-paginator [length]="publishedNewsPageCount"
                    [pageSize]="10"
                    [pageSizeOptions]="[10]"
                    (page)="changePage($event,false)">
        </mat-paginator>
        <table mat-table [dataSource]="publishedNews" class="mat-elevation-z8">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element">
                    {{element.caption}} 
                </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.createdOn}} </td>
            </ng-container>
            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef> Tags </th>
                <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
            </ng-container>   
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="open(row)"></tr>
        </table>
    </div>
</div>

<div class="floating-add">
    <i class="floating-add-icon material-icons" (click)="createNew()">add_circle</i>
</div>