<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <p class="label">Email</p>
        <div class="input-wrapper">
            <input formControlName="email" class="input" type="email" placeholder="">
        </div>

        <p class="label">Password</p>
        <p class="info">Min. 8 Characters</p>
        <p class="info">Must consist of:</p>
        <p class="info">- At least 1 Uppercase Letter</p>
        <p class="info">- At least 1 Lowercase Letter</p>
        <p class="info">- At least 1 Special Character ("@!_" etc.)</p>
        <p class="info">- At least 1 Number</p>
        <div class="input-wrapper pw-wrapper">
            <input formControlName="password" class="input" type="password" placeholder="">
        </div>

        <p class="label">Confirm Password</p>
        <div class="input-wrapper">
            <input formControlName="confirmedPassword" class="input" type="password" placeholder="">
        </div>

        <div class="tos-container">
            <label class="tos-agreement">
                <input type="checkbox" formControlName="tos">
                I agree to the <a routerLink="/tos">Terms of Service.</a>
            </label>
        </div>  

        <div *ngIf="hasErrors" class="errors">
            <p *ngFor="let item of errorMessages" class="error">{{item}}</p>
        </div>
        
        <div class="register-button-wrapper">
            <button class="register-button" type="submit">Register</button>
        </div>

        <div *ngIf="success" class="success">
            <p>Successfully created an account. Redirecting...</p>
        </div>
    </form>
</div>