<ul class="left">
    <li id="home">
        <a [routerLink]="['/home']"></a>
    </li>
    <li id="wiki">
        <a href="https://wiki.euphresia-flyff.com/"></a>
    </li>
    <li id="ranking">
        <a [routerLink]="['/ranking']"></a>
    </li>
</ul>
<ul class="right">
    <li id="features">
        <a href="https://preview.euphresia-flyff.com/"></a>
    </li>
    <li id="shop">
        <a [routerLink]="['/shop']"></a>
    </li>
    <li id="team">
        <a [routerLink]="['/team']"></a>
    </li>
</ul>