.this
{
    background-image: url('../../../../assets/web/header/navigation/nav-bg.png');
    width: 1262px;
    height: 232px;
}

li
{
    list-style-type: none;
    height: 67px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    float: left;
}

li:hover
{
    background-position: 0px -67px;
    cursor: pointer;
}

.left
{
    float: left;
    padding-left: 150px;
    padding-top: 7px;

    li
    {
        margin-left: 20px;
    }

    #home
    {
        width: 75px;
        background-image: url('../../../../assets/web/header/navigation/home.png');
    }

    #wiki
    {
        width: 87px;
        background-image: url('../../../../assets/web/header/navigation/wiki.png');
    }

    #ranking
    {
        width: 111px;
        background-image: url('../../../../assets/web/header/navigation/ranking.png');
    }
}

.right
{
    float: right;
    padding-top: 7px;
    padding-right: 150px;

    li
    {
        margin-right: 20px;
    }

    #features
    {
        width: 119px;
        background-image: url('../../../../assets/web/header/navigation/features.png');
    }

    #shop
    {
        width: 77px;
        background-image: url('../../../../assets/web/header/navigation/shop.png');
    }

    #team
    {
        width: 88px;
        background-image: url('../../../../assets/web/header/navigation/team.png');
    }
}