.this
{
    background-image: url('../../../../assets/web/boxes/box_quicklinks.png');
    width: 245px;
    height: 419px;
    display: block;
}

ul
{
    padding-top: 60px;
    padding-left: 10px;
    *
    {
        outline: none;
        border: 0;
    }

    li
    {
        list-style-type: none;
        width: 247px;
        height: 38px;
        background-image: url("../../../../assets/web/buttons/button_quicklinks.png");
        margin-bottom: 2px;
    }

    li:hover
    {
        cursor: pointer;
        background-position-x: -247px;
    }

    #step
    {
        background-position-y: 0px;
        background-repeat: no-repeat;
    }

    #register
    {
        background-position-y: -38px;
        background-repeat: no-repeat;
    }

    #download
    {
        background-position-y: -76px;
        background-repeat: no-repeat;
    }

    #vote
    {
        background-position-y: -114px;
        background-repeat: no-repeat;
    }
}