<div class="select-ranking">
    <div class="inner-select-ranking">
        <ul>
            <li id="ranking-1" class="active" (mouseleave)="leave(1)" (mouseenter)="enter(1)" (click)="click(1)">
                <div class="heading">
                    <h2>Player Ranking</h2>
                </div>
            </li>
            <li id="ranking-2" class="" (mouseleave)="leave(2)" (mouseenter)="enter(2)" (click)="click(2)">
                <div class="heading">
                    <h2>Guild Ranking</h2>
                </div>
            </li>
            <li id="ranking-3" class="" (mouseleave)="leave(3)" (mouseenter)="enter(3)" (click)="click(3)">
                <div class="heading">
                    <h2>Dungeon Time Ranking</h2>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="routing">
    <router-outlet></router-outlet>
</div>