
<div *ngIf="!this.showSuccess && !this.showError && !this.showCancel">
    <div class="container">
            <table>
                <tbody>
                    <tr *ngFor="let item of products" (click)="selectProduct(item)" [class.selected]="selectedProduct==item">
                        <td>{{item.value}} €</td>
                        <td>{{item.dp}} DP</td>
                    </tr>            
                </tbody>
            </table>
        </div>
        <seperator></seperator>
        <div class="container">
            <p>When you purchase the virtual currency called Donate Points, you automatically confirm our Privacy Policy and Terms of Service. Furthermore, you waive the buyer protection provided by PayPal out of your free will. You agree that all sales of virtual goods and virtual currencies are final. No refunds will be made except at our sole and absolute discretion.</p>
        </div>
        <seperator></seperator>
        <div class="container">
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
</div>
<div *ngIf="this.showSuccess">
    <div class="container">
        <p>Thank you for your donation and your trust into Euphresia-FlyFF!</p>
        <p>Your transaction has been completed.</p>
        <p>Log into your PayPal account to view transaction details.</p>
    </div>
</div>
<div *ngIf="this.showError">
    <div class="container">
        <p>Something went horribly wrong while performing your transaction.</p>
        <p>Please contact the Euphresia-Staff immediately.</p>
    </div>
</div>
