h1
{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
    margin: 40px;
}

.container
{
    p
    {
        color: #fbd7b2;
        text-shadow: 0.1em 0.1em 0.2em black;
        text-align: center;
        font-size: 20px;
    }

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    table
    {
        width: 100%;
        border-collapse:separate;
        border-spacing:0 5px;

    
        tr
        {
            background: rgba(0,0,0,0.6);


            td
            {
                color: #fbd7b2;
                text-shadow: 0.1em 0.1em 0.2em black;
                font-size: 30px;
                text-align: center;
    
            }

            &.selected
            {
                td
                {
                    color: #fd9e3f;
                    text-shadow: 0em 0em 0.1em #d05a5a;
                    background: rgba(0,0,0,0.8);
                    font-size: 34px;
                }
            }

            &:hover
            {
                background: rgba(0,0,0,0.7);
                cursor: pointer;
            }
        }
    }
}