.banner
{
    width: 540px;
    position: relative;

    img
    {
        width: 528px;
        max-height: 200px;
        margin-left: 6px;
        margin-top: 12px;
        margin-bottom: -12px;
    }

    margin-bottom: 20px;
}

.banner::before
{
    content: '';
    display: block;
    background-image: url("../../../../assets/web/separator.png");
    width: 540px;
    height: 22px;
    position: absolute;
}

.banner::after
{
    content: '';
    display: block;
    background-image: url("../../../../assets/web/separator.png");
    width: 540px;
    height: 22px;
    position: absolute;
}

.content
{
    width: calc(100% - 38px);
    margin-left: 30px;
    margin-right: 8px;
    margin-top: 30px;
    overflow-y: auto;
    color: #fbd7b2;
    text-shadow: 0.1em 0.1em 0.2em black;
    height: 72%;
    img
    {
        max-width: 460px !important;
    }
}