<!--<div class="bg">
    <div class="content-wrapper">
        <img class = "logo" src = "../../../../assets/logo.png">
        <div class="content-container">
            <div class="button-container">
                <div class="web-button" routerLink="/web"></div>
                <div class="discord-button"></div>
            </div>
            <div class="tos-container">
                <h1 id="tos-notice">Please ensure that you have read our Terms of Service before entering the Site and making an account!</h1>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
-->

<div id="bg">
    <div class="content-wrapper">
        <img class = "logo" src = "../../../../assets/logo.png">
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>