@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

.bg
{
    background-image: url("../../../../assets/bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.content-wrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content-container
{
    background-image: url("../../../../assets/reg_cont.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 18%;
    width: 74%;
    height: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.logo
{
    position: absolute;
    margin-top: 12%;
    width: 15%;
}

.button-container
{
    display: flex;
    flex: 1 auto;
    flex-direction: row;
    width: 80%;
    height: 60%;
    margin-left: 10% !important;
    justify-content: space-between;
}

.button-container:last-child
{
    //margin-left: calc(auto + 5%);
}

.web-button
{
    background-image: url("../../../../assets/butt_website.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

.web-button:hover
{
    background-image: url("../../../../assets/butt_website_hover.png");
    cursor: pointer;
}

.discord-button
{
    background-image: url("../../../../assets/butt_discord.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

.discord-button:hover
{
    background-image: url("../../../../assets/butt_discord_hover.png");
    cursor: pointer;
}

.tos-container
{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

#tos-notice
{
    width: 50%;
    font-size: 1.2vw;
    font-family: 'Roboto Slab', serif;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px -1px 0px rgba(183, 155, 127,0.8);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}