h1
{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
    margin: 40px;
}

.container
{
    overflow-y: auto;

    height: 780px;
    width: calc(100% - 10px);
}

.team-item
{
    width: calc(100% - 54px);
    margin: 16px;
    background-color: rgba(0,0,0,0.65);
    padding: 10px;
    display: inline-block;
    color: #fbd7b2;
    text-shadow: 0.1em 0.1em 0.2em black;

    .left
    {

        &.p-img
        {
            width: 64px;

            img
            {
                width: 64px;
            }
            margin-right: 30px;
        }
        float: left;

        .name
        {
            font-size: 22px;
        }

        .admin
        {
            color: red;
        }

        .dev
        {
            color: #4d4df9;
        }

        .gm
        {
            color: rgb(57, 180, 221);
        }

        .cm
        {
            color: orange;
        }
    }

    .right
    {
        float: right;
    }
}