<div class="container">
    <div class="team-item">
        <div class="left p-img">
            <img src="../../../../assets/person.png">
        </div>
        <div class="left">
            <p class="name">Deadlock</p>
            <p class="role admin">Administrator</p>
            <p class="role dev">Developer</p>
        </div>
    </div>
    <div class="team-item">
        <div class="left p-img">
            <img src="../../../../assets/person.png">
        </div>
        <div class="left">
            <p class="name">Crimal</p>
            <p class="role dev">Developer</p>
        </div>
    </div>
    <div class="team-item">
        <div class="left p-img">
            <img src="../../../../assets/person.png">
        </div>
        <div class="left">
            <p class="name">Raven</p>
            <p class="role cm">Community Manager</p>
        </div>
    </div>
    <div class="team-item">
        <div class="left p-img">
            <img src="../../../../assets/person.png">
        </div>
        <div class="left">
            <p class="name">ShieldedHope</p>
            <p class="role gm">Gamemaster</p>
        </div>
    </div>
    <div class="team-item">
        <div class="left p-img">
            <img src="../../../../assets/person.png">
        </div>
        <div class="left">
            <p class="name">nProtect</p>
            <p class="role gm">Gamemaster</p>
        </div>
    </div>
    <div class="team-item">
        <div class="left p-img">
            <img src="../../../../assets/person.png">
        </div>
        <div class="left">
            <p class="name">GameGuard</p>
            <p class="role gm">Gamemaster</p>
        </div>
    </div>
    <div class="team-item">
        <div class="left p-img">
            <img src="../../../../assets/person.png">
        </div>
        <div class="left">
            <p class="name">MrFrank9000</p>
            <p class="role gm">Gamemaster</p>
        </div>
    </div>
</div>