<h1>User Info</h1>
<account-info-item [(account)]="user" [(roles)]="roles"></account-info-item>
<div class="seperator"></div>
<div class="container">
    <div class="wrapper">
        <h1>Game Accounts</h1>
        <div class="seperator"></div>
        <game-account-list [(gameAccounts)]="gameAccounts"></game-account-list>
    </div>    
    <div class=""></div>
    <div class="wrapper">
        <transaction-info-list [(userId)]="user.id"></transaction-info-list>
    </div>
    <div class="wrapper">
        <h1>Launcher Logs</h1>
        <player-log-list [(id)]="user.id"></player-log-list>
    </div>
</div>

