<div class="content">
    <div class="content-inner">
        <div class="filter">
            <img title="Filter: All Classes" class="filter-icon" [class.is-active]="filter==''" src="../../../../../assets/web/icons/JobVagrant.png" (click)="setFilter('')">
            <img title="Filter: Crackshooter" class="filter-icon" [class.is-active]="filter=='CRACKSHOOTER'" src="../../../../../assets/web/icons/JobCrackshooterHero.png" (click)="setFilter('CRACKSHOOTER')">
            <img title="Filter: Harlequin" class="filter-icon" [class.is-active]="filter=='HARLEQUIN'" src="../../../../../assets/web/icons/JobWindlurkerHero.png" (click)="setFilter('HARLEQUIN')">
            <img title="Filter: Slayer" class="filter-icon" [class.is-active]="filter=='SLAYER'" src="../../../../../assets/web/icons/JobStormbladeHero.png" (click)="setFilter('SLAYER')">
            <img title="Filter: Templar" class="filter-icon" [class.is-active]="filter=='TEMPLAR'" src="../../../../../assets/web/icons/JobLordtemplerHero.png" (click)="setFilter('TEMPLAR')">
            <img title="Filter: Seraph" class="filter-icon" [class.is-active]="filter=='SERAPH'" src="../../../../../assets/web/icons/JobFloristHero.png" (click)="setFilter('SERAPH')">
            <img title="Filter: Force Master" class="filter-icon" [class.is-active]="filter=='FORCEMASTER'" src="../../../../../assets/web/icons/JobForcemasterHero.png" (click)="setFilter('FORCEMASTER')">
            <img title="Filter: Mentalist" class="filter-icon" [class.is-active]="filter=='MENTALIST'" src="../../../../../assets/web/icons/JobMentalistHero.png" (click)="setFilter('MENTALIST')">
            <img title="Filter: Arcanist" class="filter-icon" [class.is-active]="filter=='ARCANIST'" src="../../../../../assets/web/icons/JobElementorlordHero.png" (click)="setFilter('ARCANIST')">
        </div>
        <table>
            <tr class="head">
                <th>#</th>
                <th align="left">Name</th>
                <th align="left">Class</th>
                <th align="left">Gearscore</th>
                <th align="left" colspan="2">Level</th>
            </tr>
            <tr class="entry" *ngFor="let item of data; let i = index">
                <td width="30px" style="text-align: center">{{currentPageVisible*recordsPerPage+i+1}}</td>
                <td width="180px">{{item.name}}</td>
                <td width="60px"><img title="{{helper.GetJobNameFromId(item.class)}}" class="job" src="{{helper.GetJobIconFromId(item.class)}}"></td>
                <td width="169px">{{item.gearScore}}</td>           
                <td width="24px">{{item.level}}</td>      
                <td class="master-col"><img *ngIf="item.class > 14" class="master" src="{{helper.GetLevelIconFromJobAndLevel(item.class,item.level)}}"></td>    
            </tr>
        </table>
    </div>
    <div *ngIf="loadings" class="loading">
        <img class="ground" src="../../../../assets/logo_black.png">
        <img class="overlay" src="../../../../assets/logo.png">
    </div>
</div>
<seperator class="on-top"></seperator>
<div class="pagination">
    <div class="left">
        <div class="img-back" (click)="previous()" ></div>
    </div>
    <div class="page">{{currentPageVisible+1}} / {{pageCount}}</div>
    <div class="right">
        <div (click)="next()" class="img-next"></div>
    </div>
</div>