table {
    width: 100%;
}

.container > mat-form-field
{
    width: 80%;
    margin-left: 5px;
    margin-right: 15px;
}

h1
{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

tr.row:hover {
    cursor: pointer;
    background-color: lightgray;
}