:host
{
    width: 214px;
    height: 503px;
    background-image: url('../../../../assets/web/boxes/box_ranking.png');
}


table
{
    font-family: 'Roboto Slab', serif;
    color: white;
    padding-top: 70px;
    padding-left: 35px;
}