.this
{
    width: 220px;
    height: 98px;
}

.this.offline
{
    background-image: url('../../../../assets/web/ifoffline.png');
}

.this.online
{
    background-image: url('../../../../assets/web/ifonline.png');
}