

<div class="user-panel-container">
    <div class="logged-in" *ngIf="loggedIn">
        <p class="label">Logged in as:</p>
        <p>{{this.user.email}}</p>
        <div class="logged-in-inner">
            <ul class="user-options">
                <li><a [routerLink]="['/account']">Manage Account</a></li>
                <li *ngIf="hasAdminAccess"><a [routerLink]="['/admin']">Admin Panel</a></li>
            </ul>
            <div class="logout-button" (click)="this.logout()"></div>
        </div>
    </div>
    
    <div class="logged-out" *ngIf="!loggedIn">
        <form [formGroup]="form" (ngSubmit)="login(form.value)">
            <p class="label">Email</p>
            <div class="input-wrapper">
                <input formControlName="email" class="input" type="email" placeholder="">
            </div>

            <p class="label">Password</p>
            <div class="input-wrapper">
                <input formControlName="password" class="input" type="password" placeholder="">
            </div>

            <div class="button-wrapper">
                <button class="login-button" type="submit"></button>
    
                <div class="login-options">
                    <p><a [routerLink]="['/register']">Register</a></p>
                    <p><a [routerLink]="['/forgot-password']">Forgot Password?</a></p>
                </div>
            </div>
        </form>              
    </div>
</div>