.this
{
    background-image: url('../../../../assets/web/boxes/box_login.png');
    background-repeat: no-repeat;
    width: 245px;
    height: 419px;
}

.user-panel-container
{
    padding-top:60px;
    padding-left: 20px;
}