.this{
    background-image: url("../../assets/web/background/bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #57412c;
    height: 100%;
}

.content-wrap
{
    margin: auto;
    width: 1262px;
}

header{
    margin-bottom: 50px;
    position: relative;
    z-index: 5;
}

.cols
{
    display: flex;
    margin-left: 94px;

    .left
    {
        z-index: 4;
        width: 245px;
        margin-top: 30px;

        quick-links
        {
            z-index: 5;
        }

        media-container
        {
            position: relative;
            display: block;
            margin-top: -60px;
            margin-left: 20px;
            z-index: 6 !important;
        }

        discord-container
        {
            display: block;
            z-index: -1;
            margin-left: 6px;
            margin-top: -100px;
        }
    }

    .right
    {

        margin-top: 30px;
        width: 245px;
        z-index: 4;

        user-panel
        {
            display: block;
            z-index: 2;
        }

        server-info
        {
            display: block;
            margin-top: -135px;
            margin-left: 18px;
            margin-bottom: 18px;
            z-index: 3;
        }

        ranking-small
        {
            display: block;
            margin-left: 22px;
            z-index: 3;
        }

        vote-box
        {
            display: block;
            margin-top: -25px;
            margin-left: 13px;
        }
    }

    .mid
    {
        width: 584px;
        margin-left: -20px;
        z-index: 5;

        .content
        {
            margin-left: 27px;
            margin-top: -40px;
            width: 550px;
            height: 967px;
            background-image: url('../../assets/web/boxes/box_content.png');

            .content-inner
            {
                padding-top: 50px;
                padding-left: 5px;
                padding-right: 5px;
                height: 845px;

                h1.page-head
                {
                    text-align: center;
                    font-family: 'Roboto Slab', serif;
                    background-color: #460000;
                    color: transparent;
                    text-shadow: 0px -1px 0px rgba(80, 40, 0, 0.8);
                    -webkit-background-clip: text;
                       -moz-background-clip: text;
                            background-clip: text;
                }
            }
        }
    }
}

.notifications-wrapper
{
    position: absolute;
    margin: auto;
    width: 1262px;
    height: 279px;

    .notifications
    {
        position: relative; 
        margin-left: auto; 
        margin-right: 120px; 
        margin-top: -180px;
        z-index: 4;
        width: 329px;
        height: 279px;
        background-image: url('../../assets/web/error_box.png');
        transition: margin-top 1000ms;

        .notifications-inner
        {
            padding-top: 200px;
            margin-left: 20px;
            margin-right: 20px;
            text-align: center;
            p 
            {
                font-family: 'Roboto Slab', serif;
                background-color: #460000;
                color: transparent;
                text-shadow: 0px -1px 0px rgba(80, 40, 0, 0.8);
                -webkit-background-clip: text;
                   -moz-background-clip: text;
                        background-clip: text;
            }
        }
    }
}