<div class="this">
    <div class="content-wrap">
        <div *ngIf="toastService.enabled" class="notifications-wrapper">
            <div class="notifications" [style.margin-top]="toastService.marginTop">
                <div class="notifications-inner">
                    <p *ngFor="let message of toastService.errorMessages">{{message}}</p>
                </div>                
            </div>
        </div>
        <header></header>
        <div class="cols">
            <div class="left">
                <quick-links></quick-links>
                <media-container></media-container>
                <discord-container></discord-container>
            </div>
            <div class="mid">
                <box-top></box-top>
                <div class="content">
                    <div class="content-inner">
                        <h1 class="page-head" id="page-head">{{caption}}</h1>
                        <seperator *ngIf="pageCaption.showSeperator"></seperator>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
            <div class="right">
                <user-panel></user-panel>
                <server-info></server-info>
                <ranking-small></ranking-small>
                <vote-box></vote-box>
            </div>
        </div>
    </div>
    <footer></footer>
</div>