<div class="this">
    <div class="content-wrap">
        <header></header>
        <div class="cols">
            <div class="left">
                <quick-links></quick-links>
                <media-container></media-container>
                <discord-container></discord-container>
            </div>
            <div class="mid">
                <box-top></box-top>
                <news-box></news-box>
            </div>
            <div class="right">
                <user-panel></user-panel>
                <server-info></server-info>
                <ranking-small></ranking-small>
                <vote-box></vote-box>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>