.this{
    background-image: url("../../assets/web/background/bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #57412c;
    height: 100vmax;
}

.content-wrap
{
    margin: auto;
    width: 1262px;
}

header{
    margin-bottom: 100px;
}

.cols
{
    display: flex;
    margin-left: 94px;

    .left
    {
        z-index: 4;
        width: 245px;
        margin-top: 30px;

        quick-links
        {
            z-index: 1;
        }

        media-container
        {
            display: block;
            margin-top: -60px;
            margin-left: 18px;
            z-index: 3;
            //margin-left: -20px;
        }

        discord-container
        {
            display: block;
            z-index: 1;
        }
    }

    .right
    {

        margin-top: 30px;
        width: 245px;
        z-index: 4;

        user-panel
        {
            display: block;
            z-index: 2;
        }

        server-info
        {
            display: block;
            margin-top: -135px;
            margin-left: 18px;
            margin-bottom: 18px;
            z-index: 3;
        }

        ranking-small
        {
            display: block;
            margin-left: 22px;
            z-index: 3;
        }

        vote-box
        {
            display: block;
            margin-top: -25px;
            margin-left: 13px;
        }
    }

    .mid
    {
        width: 584px;
        margin-left: -20px;
        z-index: 5;

        .content
        {
            margin-left: 27px;
            margin-top: -40px;
            width: 550px;
            height: 967px;
            background-image: url('../../assets/web/boxes/box_content.png');

            .content-inner
            {
                outline: 1px red dotted;
                padding-top: 50px;
                padding-left: 20px;
                padding-right: 20px;
                height: 845px;
            }
        }
    }
}